@model BookDownloader.ViewModels.ImageDetailsViewModel 
<div id="imageContainer" class="image-container" style="height:100vh">
    <div style="max-width: 100%">
        <img id="image" style="display: none; max-width: 100%; height:100vh;" />
    </div>

    <div class="doc-element">
        <input type="text" asp-for="X" id="x" />
        <input type="text" asp-for="Y" id="y" />
        <input type="text" asp-for="@Model.Width" id="Width" />
        <input type="text" asp-for="@Model.Height" id="Height" />
    </div>


</div>
