@model IEnumerable<BookDownloader.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success">Edit</a>
                <a asp-action="Details" class="btn btn-primary">Details</a>
                <a asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
